<head>
  <div class="align">
    <b><a class="btn btn-primary" href="post2" role="button">Previous Post</a>
    <a class="btn btn-primary" href="home" role="button">Home Page</a>
    <a class="btn btn-primary" href="post1" role="button">Next Post</a></b>
  </div>
  <title>Northern Lights</title>
  <div class="align">
  <h4>See the Northern Lights</h4>
  <h2>Rotate the view with the compass in the bottom right. Click to navigate forwards. Refresh the page to restart.
</div>
</head>
<body>
  <div class="align">
    <iframe width="1120" height="630" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?layer=c&amp;panoid=GtnAyp0MCbYAAAQZLDcQIA&amp;ie=UTF8&amp;source=embed&amp;output=svembed&amp;ll=68.509006%2C27.481845&amp;cbp=13%2C327.5459657821538%2C%2C0%2C10.016273318810534"></iframe><div><small><a href="https://www.google.com/maps/views/" style="color:#0000FF; text-align:left">Views</a>: <a href="https://www.google.com/maps/views/view/streetview/northern-lights-finland/northern-lights-2/GtnAyp0MCbYAAAQZLDcQIA" style="color:#0000FF; text-align:left">Northern Lights</a> by <a href="https://www.google.com/maps/views/streetview" style="color:#0000FF; text-align:left">Google Maps</a></small></div>
  </div>
</body>
