<head>
  <div class="align">
    <a class="btn btn-primary" href="post1" role="button">Previous Post</a>
    <a class="btn btn-primary" href="home" role="button">Home Page</a>
    <a class="btn btn-primary" href="post3" role="button">Next Post</a>
  </div>

  <title>Car Buyer's Advice</title>
  <br><div class="align">
  <h4>What Car Should I Buy?</h4></div>
</head>
<br>

<body>
  <div class="align">
    <h2>Wondering what car to buy?
    <br><br>
    Look no further: Here is <a href="http://tampa.craigslist.org/pnl/cto/4850900313.html">your dream car</a>!
    <br><br></h2>
    <img src="http://images.craigslist.org/00R0R_lTqK415CQF4_600x450.jpg" class="img-rounded">
    <br><br><h2>
    What's that you say? You think that looks a lot like my neighborhood?<br> Yeah it might be my truck... I want a motorcycle. Please buy my damn truck.
  </div></h2>
</body>
