<head>
  <div class="align">
    <a class="btn btn-primary" href="post3" role="button">Previous Post</a>
    <a class="btn btn-primary" href="home" role="button">Home Page</a>
    <a class="btn btn-primary" href="post2" role="button">Next Post</a>
  </div>
  <br>
  <title>How to Eat Fried Rice</title>
  <br>
  <h4>How to Eat Fried Rice:</h4>
</head>

<body>
  <div class="row">
    <div class="col-md-5">
      <h2>
        Eating fried rice can be a pretty complicated routine...<br><br>
      <ol>
        <li>First Google <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=chinese+food+near+me">"chinese food near me"</a>.</li>
        <li>Next, call the chinese food place with the best reviews. Order some fried rice. My favorite is "pork fried rice", but you can also order it with chicken or beef.</li>
        <li>Wait 45 minutes for a <a href="http://www.yama-trade.com/Toyota%20Corolla,%20NZE121,%202001model,%201.5L,%20%20Beige,%20(F).jpg">beige Toyota Corolla</a> to appear in your driveway.</li>
        <li>Pay the nice man. Tip well. Bring your food inside.</li>
        <li>Take your food out of the bag. Remove the chopsticks from their paper wrapping.</li>
        <li>Throw the chopsticks on the ground and stomp on them! Forks are far superior!!!</li>
        <li>Scoop the rice into your mouth with the fork and enjoy!</li>
      </ol></h2>
    </div>
    <div class="col-md-7">
      <h5>Hopefully you enjoy rice as much as Loris:<br></h5>
      <iframe width="810" height="510" src="https://www.youtube.com/embed/18-xvIjH8T4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</body>
