<head>
  <title>Ryan Zolper</title>
  <h1>About the Author</h1>
</head>
<br>
<body>
  <div class="row">
    <div class="col-md-6">
      <dl><h2>
      Ryan Zolper is a 20 year old student of life. A New Jersey native, and formerly a student of Bucknell University, he became addicted to Floridian weather after his family moved to St. Pete three years ago.
      After completing his Ruby on Rails course at <a href="http://theironyard.com/">The Iron Yard</a>, he plans to work freelance as he finishes his undergraduate education at a Floridian state school.
      </h2></dl>
      <dl><br><br><br>
        <div class="align">
          
          <a class="btn btn-primary" href="home" role="button"><img src="http://images.clipartpanda.com/clipart-house-House-Clip-Art-87.jpg" alt="Home" width="200"/></a>
          <br><hh>Return Home</hh><br>
        </div>
      </dl>
    </div>
    <div class="col-md-6">
      <dl>
        <%= image_tag("ryan.jpg")%>
      </dl>
    </div>





</body>
